.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 80vw;
    max-width: 2000px;
}

.navbar-box {
    display: flex;
    margin: 5px;
}

.navbar-icon {
    width: 40px;
    height: 40px;
    background-color: #2979ff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: white;
    font-size: 18px;
}

.menu-icon {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.navbar-title {
    font-size: 24px;
    color: #2979ff;
    font-weight: bold;
    text-decoration: none;
}

.title-text {
    text-decoration: none;
}

.email {
    width: 50%;
    padding-left: 10px;
    display: flex;
    justify-content: flex-end;
}

.email a {
    background-color: #2979ff;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80vh;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 2000px;
}

.flex-box {
    display: flex;
    width: 50%;
    padding: 20px;
    justify-content: space-between;
}

.store-box {
    background-color: white;
    width: 100%;
    padding: 20px;
    height: 80vh;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.store-header {
    display: flex;
    justify-content: space-between;
}

.store-create {
    color: white;
}

.store-create-link {
    background-color: #2979ff;
    font-weight: bold;
    font-size: large;
    color: white;
    padding: 9px;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.store-create-link a {
    background-color: #2979ff;
    border: none;
    color: white;
    padding: 0;
}

.store-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
}

.store-name {
    font-size: 17px;
}

.store-edit {
    color: white;
}

.store-edit-link {
    background-color: #2979ff;
    font-weight: bold;
    font-size: large;
    color: white;
    padding: 9px;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.store-edit-link a {
    background-color: #2979ff;
    border: none;
    color: white;
    padding: 0;
}

.reservations-box {
    background-color: white;
    width: 100%;
    padding: 20px;
    height: 80vh;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.card {
    overflow-y: auto;
    height: 400px;
    padding-bottom: 20px;
}

