.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 100px;
    margin: 0;
    width: 100%;
    max-width: 2000px;
}

.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.register-form__heading {
    margin-bottom: 20px;
    text-align: center;
}

.register-container {
    width: 350px;
    padding: 0px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.register-title {
    width: 100%;
    padding: 10px;
    height: 60px;
    border-radius: 3px 3px 0 0;
    color: white;
    background-color: #2979ff;
}

.register-title p {
    margin: 8px;
    font-weight: bold;
    font-size: 18px;
}

/* アイコンと入力フィールドのスタイル */
.input-container {
    display: flex;
    align-items: center;
    margin: 0 15px;
    padding: 10px;
}

.input-container i {
    font-size: 18px;
    margin-right: 10px;
    color: #757575;
}

.input-field {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #757575;
    outline: none;
}

.button-block {
    width: 100%;
    text-align: right;
}

.register-button {
    margin: 10px 25px;
    width: 100px;
    padding: 5px;
    background-color: #2979ff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #1565c0;
}